nav {
  display: flex;
  background: #ffffff;
  padding-left: 15px;
  padding-right: 15px;
  align-items: center;
  box-shadow: 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  justify-content: space-between;
}
.nav--counter_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.main--container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

main {
  padding: 15px;
}

body {
  background: #fbe6db;
}
th {
  text-align: left;
}
div#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.bg-gray {
  background-color: gray;
  color: #ffffff;
}
.bg-white {
  background-color: white;
  color: #000;
}
